.avatar {
  width: 40px;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50%;
  background: #fa243d;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  justify-content: center;
  margin-right: 13px;
}